<div class="card-block">
  <h4 {{action "editName"}} class="card-title">
  {{#if isEditingName}}
    {{input type="text" autofocus="true" value=thing.name insert-newline="doneEditingName" focus-out="doneEditingName" escape-press="cancelEditName"}}
  {{else}}
    {{thing.name}}
  {{/if}}
  </h4>
  <h6 class="card-subtitle text-muted">{{thing.location.name}}</h6>
  <hr>
  {{#if thing.properties}}
  <ul class="list-unstyled">
    {{#each thing.properties as |property|}}
    <li><strong>{{property.name}}:</strong> {{property.value}}</li>
    {{/each}}
  </ul>
  {{else}}
  <p class="centered text-muted"><small>No properties are associated with {{thing.name}}.</small></p>
  {{/if}}
  {{#if isAddingProperty}}
  <form>
    <fieldset class="form-group">
      {{input type="text" value=newProperty.name placeholder="Name" class="form-control"}}
    </fieldset>
    <fieldset class="form-group">
      {{input type="text" value=newProperty.value placeholder="Value" class="form-control"}}
    </fieldset>
    <fieldset class="form-group">
      {{input type="text" value=newProperty.unit placeholder="Unit (ex. Fahrenheit)" class="form-control"}}
    </fieldset>
    <fieldset class="form-group">
      {{input type="number" value=newProperty.precision class="form-control"}}
    </fieldset>
  </form>
  <div class="btn-group btn-group-justified">
    <a {{action "cancelAddingProperty"}} class="btn btn-danger-outline">Cancel</a>
    <a {{action "saveNewProperty"}} class="btn btn-success-outline">Create</a>
  </div>
  {{else}}
    <a {{action "addProperty"}} class="btn btn-success-outline btn-block">Add a Property</a>
  {{/if}}
</div>
{{yeild}}
