<h1 data-thing-id={{model.id}}>{{model.name}}</h1>
{{#link-to "locations.show" model.location}}
<h4 class="text-muted">{{model.location.name}}</h4>
{{/link-to}}
<div class="row">
  {{#each model.properties as |property|}}
    <div class="col-md-3">
      {{property-card property}}
    </div>
  {{/each}}
</div>
{{liquid-outlet}}
