{{#if showLocation}}
  <h4 data-thing-id={{thing.id}} class="card-header thing-name">
  {{#link-to "things.show" thing}}
    {{thing.name}}
  {{/link-to}}
  <br>
  {{#link-to "locations.show.things" thing.location}}
    <small class="card-subtitle text-muted">
      {{thing.location.name}}
    </small>
  {{/link-to}}
  </h4>
{{else}}
  {{#link-to "things.show" thing}}
  <h4 data-thing-id={{thing.id}} class="card-header thing-name">
    {{thing.name}}
  </h4>
  {{/link-to}}
{{/if}}
<div class="card-block">
  {{#if thing.properties}}
    <ul class="list-unstyled">
      {{#each thing.properties as |property|}}
        <li><strong>{{property.name}}:</strong> {{property-value property}}</li>
      {{/each}}
    </ul>
  {{else if thing.name}}
    <p class="centered text-muted"><small>No properties are associated with {{thing.name}}.</small></p>
  {{/if}}
</div>
<div class="card-footer card-footer-no-background text-muted">
  {{#if thing.propertiesLastUpdated}}
    <small>Updated {{moment-from-now thing.propertiesLastUpdated interval=5000}}</small>
  {{/if}}
</div>
{{yeild}}
