<div class="card-block">
  {{#link-to "things.show" thing}}
  <h4 data-thing-id={{thing.id}} class="card-title thing-name">
    {{thing.name}}
  </h4>
  {{/link-to}}
  <h6 class="card-subtitle text-muted location-name">{{thing.location.name}}</h6>
  <hr>
  {{#if thing.properties}}
  <ul class="list-unstyled">
    {{#each thing.properties as |property|}}
    <li><strong>{{property.name}}:</strong> {{property-value property}}</li>
    {{/each}}
  </ul>
  {{else}}
  <p class="centered text-muted"><small>No properties are associated with {{thing.name}}.</small></p>
  {{/if}}
  {{#liquid-if isAddingProperty class="adding-property"}}
  <form>
    <fieldset class="form-group">
      {{input type="text" value=newProperty.name placeholder="Name" class="form-control"}}
    </fieldset>
    <fieldset class="form-group">
      {{input type="text" value=newProperty.value placeholder="Value" class="form-control"}}
    </fieldset>
    <fieldset class="form-group">
      {{#power-select options=units selected=newProperty.unit onchange=(action (mut newProperty.unit)) as |unit|}}
        {{unit}}
      {{/power-select}}
    </fieldset>
    <fieldset class="form-group">
      {{input type="number" value=newProperty.precision class="form-control"}}
    </fieldset>
  </form>
  <div class="btn-group btn-group-justified">
    <a {{action "cancelAddingProperty"}} class="btn btn-danger-outline">Cancel</a>
    <a {{action "saveNewProperty"}} class="btn btn-success-outline">Create</a>
  </div>
  {{else}}
    <a {{action "addProperty"}} class="btn btn-success-outline btn-block">Add a Property</a>
  {{/liquid-if}}
</div>
{{yeild}}
