<h1 data-thing-id={{model.id}}>{{model.name}}</h1>
{{#link-to "location" model.location}}
<h4 class="text-muted">{{model.location.name}}</h4>
{{/link-to}}
<div class="row">
  {{#each model.properties as |property|}}
    <div class="col-md-3">
      <h4 class="display-2">{{property.value}}</h4>
      <h5 class="text-muted">{{property.name}}</h5>
    </div>
  {{/each}}
</div>
{{outlet}}
